#portfolio{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#portfolio>img{
width: 50px;
height: 50px;
border-radius: 50%;
justify-content: center;
margin-top: 5px;
}
#portfolio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#navbar{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
}
#navbar a{
    text-decoration: none;
    color: white;
} 
#links{
    display: flex;
    gap:25px ;
    justify-content: space-evenly;
    padding: 0px 10px;
}
#navbar a:hover{
    background-color: palevioletred;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}
#home{
    background-color: rgb(214, 188, 188);
    margin-top: -20px;
    display: flex; 
    text-align: center;   
}
#home>img{
    height: 400px;
    width: 100%;
}
#home>h2{
    margin-top: 100px;
}
#About{
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-between;
}
#About>img{
    width: 200px;
}
#About>p{
    width: 400px;
    text-align: justify;
    font-size: 20px;
    border: 1px dashed blue;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: bisque;
}
#About>h2{
    margin-top: 150px;
}
table{
 width: 100%;
}
table,th,td{
    border: 1px solid black ;
    text-align: center;
}
#table>h2{
    text-align: center;
}
.projects{
    display: flex;
    gap: 10px;
}
.projects>img{
    width: 60%;
    height: 350px;
    border: 1px solid black;
}
.projectabout{
    width: 250px;
    height: 340px;
    text-align: justify;
    border: 1px solid black;
    padding: 5px;
}
.projects a{
text-decoration:  none;
gap: 10px;
color: black;
}
.projects a:hover{
    background-color: aqua;
    padding: 10px 5px;
    border-radius: 15px;
    box-sizing: border-box;
}
#contact{
    width: 70%;
    margin: auto;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between ;
}
#contact>h3{
    border: 1px solid blue;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 15px;
}