#portfolio{
    display: flex;
    gap: 20px;
    justify-content: center;
}
#portfolio>img{
width: 50px;
height: 50px;
border-radius: 50%;
justify-content: center;
margin-top: 5px;
}
#portfolio{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#navbar{
    display: flex;
    background-color: blue;
    color: white;
    justify-content: space-between;
}
#navbar a{
    text-decoration: none;
    color: white;
} 
#links{
    display: flex;
    gap:25px ;
    justify-content: space-evenly;
    padding: 0px 10px;
}
#navbar a:hover{
    background-color: palevioletred;
    border-radius: 10px;
    padding: 5px 10px;
    box-sizing: border-box;
}
#home{
    background-color: rgb(214, 188, 188);
    margin-top: -20px;
    display: flex; 
    text-align: center;   
}
#home>img{
    height: 400px;
    width: 100%;
}
#home>h2{
    margin-top: 100px;
}
#About{
    height: 200px;
    width: 50%;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    padding: 0px 15px;
    border: 2px dashed red;
    border-radius: 15px;
    background-color: rgb(230, 122, 122);
    margin-top: 20px;
}
